:root {
  --main-nav-clr: hsl(0, 0%, 15%);
  --lower-nav-clr: rgba(46, 46, 46, 0.8);
  --txt-box-clr: rgba(46, 46, 46, 0.7);
  --accent-clr: blue;
  --main-txt-clr: hsl(0, 0%, 54%);
  --secondary-txt-clr: hsl(0, 0%, 59%);
  --dark-txt-clr: hsl(0, 0%, 15%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150vh;
  width: 100vw;
  background-image: url('./imgs/background-img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  position: fixed;
  right: 0;
  left: 0;
  background-color: var(--main-nav-clr);
  width: 100vw;
  height: 3.75rem;
  margin-top: -10px;
  grid-template-columns: min-content auto min-content;
  grid-template-areas: 'navbar . contact';

  z-index: 99;
}
.logo {
  position: relative;
  left: 1rem;
}
.logo a {
  color: var(--main-txt-clr);
}
.logo a:hover {
  color: var(--accent-clr);
}
.main_links {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.link {
  justify-items: center;
  color: black;
}
.link:hover {
  color: var(--accent-clr);
  transform: scale(2);
}

.btn {
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  padding: 0.5rem;
}
.btn:hover {
  color: var(--dark-txt-clr);
  background-color: var(--accent-clr);
}
.lower_nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  position: fixed;
  right: 0;
  left: 0;
  background-color: var(--lower-nav-clr);
  color: var(--secondary-txt-clr);
  width: 100vw;
  height: 3.5rem;
  padding-bottom: 0;
  margin-top: 1rem;
  grid-template-columns: min-content auto min-content;
  grid-template-areas: 'navbar . contact';

  z-index: 89;
}

.lower_links {
  display: grid;
  position: relative;
  width: 100vw;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}
.lower_link {
  position: relative;
  bottom: -1rem;
  color: var(--main-txt-clr);
  justify-items: center;
}
.lower_link a {
  color: var(--main-txt-clr);
}

.text_box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  position: absolute;
  bottom: 0;
  background-color: var(--txt-box-clr);
  color: var(--secondary-txt-clr);
  height: 500px;
  width: 100vw;
  text-align: center;
  line-height: 40rem;
}
.text_box h1 {
  font-size: 2.5rem;
}
.empty_space {
  position: relative;
  bottom: 0;
  background-image: url('./imgs/background-img-2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--secondary-txt-clr);
  height: 250vh;
  width: 100vw;
  z-index: -1;
}
.empty_space h1 {
  color: var(--dark-txt-clr);
  position: relative;
  bottom: -125rem;
  right: 2rem;
  text-align: right;
}

.final_space {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left {
  background-color: #000000;
}
.right {
  background-color: #000;
  background-image: url('./imgs/background-img-3.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.contact_info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-items: center;
  color: var(--secondary-txt-clr);
}
.contact_info a {
  color: var(--secondary-txt-clr);
}
.contact {
  padding-top: 20rem;
}

@media (max-width: 1290px) {
  .empty_space h1 {
    color: var(--dark-txt-clr);
    position: relative;
    bottom: -80rem;
    right: 2rem;
    text-align: right;
  }
  .text_box {
    height: 350px;
  }
  .text_box h1 {
    position: relative;
    bottom: 10rem;
  }
  .contact {
    padding-top: 12.5rem;
  }
}
@media (max-width: 810px) {
  .container {
    background-image: url('./imgs/background-img-mobile.jpg');
    background-size: cover;
  }
  .text_box h1 {
    font-size: 1.5rem;
  }
  .empty_space h1 {
    bottom: -60rem;
  }
}
@media (max-width: 520px) {
  .container {
    background-image: url('./imgs/background-img-mobile.jpg');
    background-size: cover;
    background-attachment: scroll;
  }
  .lower_link {
    display: none;
  }
  .text_box h1 {
    font-size: 1.15rem;
  }
  .empty_space {
    background-image: url('./imgs/background-img-2-mobile.jpg');
    background-size: contain;
    background-attachment: scroll;
    bottom: -23rem;
  }
  .empty_space h1 {
    color: var(--dark-txt-clr);
    display: block;
    z-index: 99;
  }
  .final_space {
    display: block;
    position: relative;
    bottom: 26rem;
    height: 100vh;
  }
  .sidebar_container{
    display:none;
  }
}

.scroll-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.design {
  display: block;
  margin: auto;
  color: var(--secondary-txt-clr);
  background-color: #000000;
  text-align: center;
  padding-bottom: 1rem;
}
.design a {
  color: var(--secondary-txt-clr);
}
.blue_text {
  color: var(--accent-clr);
}

/* blog specific styles start here */
.main {
  position: relative;
  display: flex;
  max-width: 650px;
  height: 200vh;
  margin: auto;
}
.background_img {
  position: fixed;
  background-image: url(./imgs/dog.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: -5;
}
.blog_container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  z-index: -5;
}

.blog_card_container {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.blog_card {
  position: relative;
  top: 5rem;
  width: 500px;
  height: fit-content;
  background-color: hsla(0, 0%, 54%, 0.8);
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 5px;
}
.blog_card_img {
  position: relative;
  width: 80%;
  height: 200px;
  display: block;
  margin: auto;
}
.blog_img_one {
  background-image: url(./imgs/blog-img.jpg);
  background-size: cover;
}
.blog_img_two {
  background-image: url(./imgs/blog-img-2.jpg);
  background-size: cover;
}
.blog_card_body {
  position: relative;
}
.blog_card_title {
  position: relative;
  z-index: 2;
}
.blog_card_title::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-clr);
  z-index: -1;
}
.sidebar_container {
  position: relative;
  width: 100%;
  top: 5rem;
  padding: 0.5rem;
  margin-left: 10px;
  background-color: hsla(0, 0%, 54%, 0.8);
  border-radius: 5px;
}
.archive_links a {
  color: var(--accent-clr);
}
.blog_contact_btn {
  color: var(--main-txt-clr);
  padding: 0.5rem 1rem;
  background-color: var(--accent-clr);
  border-radius: 15px;
  display: block;
  margin: auto;
  text-align: center;
}
